/* eslint-disable @typescript-eslint/explicit-module-boundary-types */

{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "tsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "ignorePatterns": ["node_modules/*", ".next/*"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jsx-a11y/recommended",
    "prettier/prettier",
    "plugin:import/recommended",
    "next",
    "next/core-web-vitals"
  ],
  "plugins": ["react", "@typescript-eslint", "react-hooks", "import", "simple-import-sort", "prettier", "jsx-a11y"],
  "rules": {
    "no-undef": "off",
    "prettier/prettier": "warn",
    "react-hooks/rules-of-hooks": "warn",
    "react-hooks/exhaustive-deps": "warn",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
