@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SUPERCELL";
  src: url("../public/assets/fonts/supercell-magic.ttf");
}

@font-face {
  font-family: "HOONJEONGGEULBOOKR";
  src: url("../public/assets/fonts/훈정글북R.ttf");
}

* {
  color:white;
  -webkit-text-stroke: 1px black;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}